{% sw_extends '@Storefront/page/product-detail/index.html.twig' %}

{% block page_product_detail_content %}
    <div class="badge badge-primary">Bundle Product</div>

    {{ parent() }}

{% endblock %}
